In [1]:
import pandas as pd
import kagglehub
import os
import shutil

In [2]:
kagglehub.login()

VBox(children=(HTML(value='<center> <img\nsrc=https://www.kaggle.com/static/images/site-logo.png\nalt=\'Kaggleâ€¦

In [4]:
# Download the latest version
path = kagglehub.dataset_download("mehmettahiraslan/customer-shopping-dataset")

# Define source and destination paths
source = "C:/Users/muham/.cache/kagglehub/datasets/mehmettahiraslan/customer-shopping-dataset/versions/2"
destination = "C:/Users/muham/Desktop/repo/ml_tutorial/fantastic-palm-tree/datasets/"

# Ensure the destination directory exists
os.makedirs(destination, exist_ok=True)

# Move the downloaded files to your specific folder
shutil.move(source, destination)

print(f"Dataset moved to {destination}")

Error: Destination path 'C:/Users/muham/Desktop/repo/ml_tutorial/fantastic-palm-tree/datasets/2' already exists

In [5]:
data = pd.read_csv('datasets/2/customer_shopping_data.csv')

### Welcome to the Shopping World of Istanbul!

This dataset offers a glimpse into the vibrant shopping scene of Istanbul, compiled from 10 prominent shopping malls spanning the years 2021 to 2023. Designed to provide a rich perspective on shopping habits, it captures data from diverse age groups and genders. 

The dataset includes key attributes such as:
- **Invoice Numbers** and **Customer IDs** for transaction tracking,
- **Age** and **Gender** demographics,
- **Payment Methods** and **Product Categories** for analyzing purchasing preferences,
- **Quantity**, **Price**, and **Order Dates** for transactional details,
- **Shopping Mall Locations** to add a geographic dimension to the analysis.

### E.D.A
**Steps**
- Take a look at the shape, distribution, datatypes with df. 
- Find some general trends and interesting points of investigation.
- Visualise some of these general trends.

In [6]:
data.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [7]:
data.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB