In [2]:
import pandas as pd
import kagglehub
import os
import shutil
import seaborn as sns

from sklearn.preprocessing import LabelEncoder #for one hot encoding

ModuleNotFoundError: No module named 'sklearn'

In [2]:
kagglehub.login()

VBox(children=(HTML(value='<center> <img\nsrc=https://www.kaggle.com/static/images/site-logo.png\nalt=\'Kaggle…

In [4]:
# Download the latest version
path = kagglehub.dataset_download("mehmettahiraslan/customer-shopping-dataset")

# Define source and destination paths
source = "C:/Users/muham/.cache/kagglehub/datasets/mehmettahiraslan/customer-shopping-dataset/versions/2"
destination = "C:/Users/muham/Desktop/repo/ml_tutorial/fantastic-palm-tree/datasets/"

# Ensure the destination directory exists
os.makedirs(destination, exist_ok=True)

# Move the downloaded files to your specific folder
shutil.move(source, destination)

print(f"Dataset moved to {destination}")

Error: Destination path 'C:/Users/muham/Desktop/repo/ml_tutorial/fantastic-palm-tree/datasets/2' already exists

In [31]:
data = pd.read_csv('../datasets/2/customer_shopping_data.csv')

data

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

### Welcome to the Shopping World of Istanbul!

This dataset offers a glimpse into the vibrant shopping scene of Istanbul, compiled from 10 prominent shopping malls spanning the years 2021 to 2023. Designed to provide a rich perspective on shopping habits, it captures data from diverse age groups and genders. 

The dataset includes key attributes such as:
- **Invoice Numbers** and **Customer IDs** for transaction tracking,
- **Age** and **Gender** demographics,
- **Payment Methods** and **Product Categories** for analyzing purchasing preferences,
- **Quantity**, **Price**, and **Order Dates** for transactional details,
- **Shopping Mall Locations** to add a geographic dimension to the analysis.

### E.D.A
**Steps**
- Take a look at the shape, distribution, datatypes with df. 
- Find some general trends and interesting points of investigation.
- Visualise some of these general trends.

In [32]:
data.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [33]:
data.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

### Observations on the Dataset

A few things strike me about this dataset:

1. **Invoice Number and Customer Uniqueness**
   Both the `invoice_number` and `customer` fields contain unique values. This means they won't contribute to any meaningful correlations or insights, which is a bit disappointing. I was hoping to use these fields for customer segmentation and analyzing individual behaviors.

2. **Opportunities for Clustering**
   Despite the limitations of the unique fields, **k-means clustering** is still a viable option. We can segment customers based on attributes such as:
   - Age
   - Gender
   - Amount spent
   - Possibly location (e.g., city-wise analysis), as I suspect there may be notable differences in summary statistics across cities.

These insights guide the direction of the analysis and inform which columns are worth focusing on for further processing.

In [35]:
data['invoice_timestamp'] = pd.to_datetime(data['invoice_date'], format='%d/%m/%Y')

# Initialize LabelEncoder
gender_encoder = LabelEncoder()
category_encoder = LabelEncoder()
payment_encoder = LabelEncoder()
mall_encoder = LabelEncoder()


# Apply LabelEncoder to specific columns
data['gender_encoded'] = category_encoder.fit_transform(data['gender'])
data['Category_encoded'] = category_encoder.fit_transform(data['category'])
data['payment_encoded'] = payment_encoder.fit_transform(data['payment_method'])
data['mall_encoded'] = mall_encoder.fit_transform(data['shopping_mall'])

data.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,invoice_timestamp,gender_encoded,Category_encoded,payment_encoded,mall_encoded
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,2022-08-05,0,1,1,4
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul,2021-12-12,1,4,2,2
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity,2021-11-09,1,1,0,6
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM,2021-05-16,0,4,1,7
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon,2021-10-24,0,0,0,4